.loader{
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.8);
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 91vh;

    p{
        font-size: 20px;
        color: white;
        margin-top: 20px;
        font-variant: small-caps;
        text-transform: uppercase;
        font-family: Regular;
    }
}