@import '../../../globals.scss';

.sidebar{
    display: block;
    position: fixed;
    top: 0%;
    z-index: 3;
    left: -250px;
    transition: 0.3s !important;
    background-color: $yellow;
    width: 250px;
    height: 100%;

    &_menu{
        padding: 0px !important;
        display: block;

        &_title{
            display: flex;
            justify-content: center;
            font-variant: small-caps;
            height: 70px;
            border-bottom: 1px solid rgba(0,0,0,0.2);
            align-items: center;
            text-decoration: none !important;
            color: black !important;
            font-family: Bold !important;
            font-size: 30px !important;
            
        }
        
        &_link{
            display: flex;
            align-items: center;
            width: 100%;
            text-decoration: none !important;
            font-family: Regular;
            font-size: 20px !important;
            padding: 15px 20px;
            color: black;

            &_active{
                border-left: 3px solid $blue;
                color: $blue !important;
                font-family: Bold;
            }

            &:hover{
                font-family: Bold;
                color: $blue !important;
            }

            &_title{
                font-size: 14px;
                margin-left: 10px;
                padding-top: 2px;
            }
        }
    }
}

.overlay{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);

    @media(min-width: 1099px){
        display: none;
    }
}

.open{
    left : 0px !important;
}

.closer{
    font-size: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    width: 45px;
    height: 45px;
    background: transparent;
    border-radius: 100px;
    padding: 0px !important;

    @media(min-width: 1100px){
        display: none;
    }
}