$blue : #4E7DF1;
$yellow : #FEDB4D;

.top{
    background-color: $blue;
    color: white;
    font-family: Regular;
    padding: 10px 15px;
    font-variant: small-caps;
    background-image: url(./assets/images/back.png);
    line-height: 6px;
    height: 150px;

    h3{
        font-size: 23px !important;
    }

    p{
        color: rgba(255,255,255,0.5);
    }
}

.page_content{
    margin-top: -50px;
    width: 100%;
    padding: 0px 10px;
}

.page_title{
    padding: 10px;

    &_text{
        font-family: Bold;
        font-size: 14px !important;
    }
    &_info{
        font-size: 12px;
        color: #999;
    }
}

@mixin makeTitle(){
    display: block;
    background-color: $blue ;
    background-image: url(./assets/images/back.png) ;
    background-size: 100% auto;
    color: white;
    line-height: 20px;
    font-family: Regular !important;
    font-variant: small-caps;
    height: 150px;
    padding: 20px;

    p{
        color: #ccc;
    }
}

.back{
    font-size: 14px;
    color: white !important;
    display: flex;
    align-items: center;
    text-decoration: none !important;

    i{
        margin-right: 10px;
    }
}

::-webkit-scrollbar{
    width: 5px;
}

@mixin page(){
    width: 94%;
    margin: 0px auto;
    margin-top: -50px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background: white;
    padding: 20px;
    margin-bottom: 40px;

    label{
        cursor: pointer;
    }
}

.addBtn{
    font-family: Regular;
    padding: 10px 15px;
    background-color: $yellow;
    border: none;
    border-radius: 100px;
    color: black !important;
    text-decoration: none !important;
    font-variant: small-caps;

    @media(max-width: 450px){
        padding: 4px 10px;
        font-size: 10px;
        width: 80px;
    }
}


input:not([type=search]),select{
    height: 50px;
    box-shadow: none !important;

    &:focus{
        border: 2px solid $yellow !important;
    }
}

label{
    font-family: Bold;
    font-size: 13px;
}

.submit{
    padding: 7px 25px;
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 50px;
    color: white;
    background: $blue;
    outline: none !important;
    margin-left: auto !important;
    display: block;
    font-family: Bold;

    &:disabled{
        background-color: #aaa;
        color: #ddd;
    }
}


.btn_submit{
    padding: 7px 25px;
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 50px;
    color: white;
    background: $blue;
    outline: none !important;
    margin-left: auto !important;
    display: block;
    font-family: Bold;

    &:disabled{
        background-color: #aaa;
        color: #ddd;
    }
}

.nodata{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img{
        width: 100px;
        margin: 30px 0px;
    }

    p{
        text-align: center;
        max-width: 600px;
        font-family: Regular;
    }
}



::-webkit-scrollbar{
    height: 10px !important;
    width: 5px !important;
    background: lightgray !important;
}

::-webkit-scrollbar-thumb{
    background: $blue !important;
    border-radius: 100px !important;
}