.row{
    margin: 0px !important;
}
.d-block{
    display: block !important;
}

body{
    background-color: #eee;
}

input.form-control{
    box-shadow: none !important;
}

.form-in-alert label{
    float: left;
}

.form-in-alert .form-group{
    margin: 10px 0px;
}